body {
	padding: 30px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	box-sizing: border-box;
	color: #293264;
	font-family: "Karla", sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
